* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #363340;
}

input:focus {
    outline: none;
}

.bgd {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -999;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    color: #363340;
}

img {
    height: 100%;
    width: 100%;
}

header.main {
    position: relative;
    display: flex;
    background-color: rgba(196, 196, 196, .7);
    height: 25%;
    width: 90%;
    top: 2%;
    left: 5%;
    border-radius: 40px;
    /* center header title */
    justify-content: center;
    align-items: center;
}

header.main h1 {
    font-size: 80px;
    font-weight: bold;
    transform: translate(0, -10px);
    filter: drop-shadow(0 8px 8px #363340);
}

.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgba(196, 196, 196, .7);
    height: 45%;
    width: 40%;
    bottom: 5%;
    left: 5%;
    border-radius: 40px;
}

.login h2 {
    font-size: 40px;
    font-weight: regular;
    filter: drop-shadow(0 8px 8px #363340);
}

.login div {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    margin-top: 40px;
}

.mode a {
    width: 40%;
}

.mode p {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

/* style dla strony logowania uzytkownika */

h2.usrlog {
    margin-top: 20px;
}

.login form {
    width: 100%;
}

.login input:first-child {
    margin-top: 5%
}

input {
    padding-left: 1%;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.login input {
    display: block;
    height: 35%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 50%;
}

button {
    width: 100px;
    height: 30px;
    background-color: #DDDDDD;
    color: #363340;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.login button {
    margin-left: calc(55% - 130px);
    height: 45px;
    width: 130px;
}